
<web-app>
<servlet>
<servlet-name>AddPatient</servlet-name>
<servlet-class>com.hms.servlet.AddPatientServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AddPatient</servlet-name>
<url-pattern>/addPatient</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>ViewPatient</servlet-name>
<servlet-class>com.hms.servlet.ViewPatientServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ViewPatient</servlet-name>
<url-pattern>/viewPatient</url-pattern>
</servlet-mapping>
</web-app>
